/* web font Jost => font-family: 'Jost', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none !important;
}

body {
    font-family: 'Jost', sans-serif;
}
/* nav  right :  Quang */
.navRight__toggle i {
    background: #0D1326;
    padding: 20px;
    text-align: center;
    color: #e6ebff;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    opacity: .5;
}

.navRight__toggle {
    text-align: center;
}

.navRight__content ul li a {
    display: block;
    color: #e6ebff;
    line-height: 24px;
    opacity: .6;
    margin-bottom: 20px;
    text-align: center;
}

.navRight__content ul li a:hover {
    opacity: 1;
}

.navRight__content ul {
    border-top: 1px solid #41414d;
    padding-top: 30px;
    list-style: none;
}

.navRight__content {
    padding: 40px 5px;
    padding-top: 10px;
    margin-bottom: 70px;
    background: #0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.navRight {
    position: fixed;
    right: 0;
    top: 10%;
    z-index: 9999;
}

/* nav  right :  Quang */
/* footerr : Quang */
.footer__content {
    padding: 50px 0;
}

.copyright p {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #696969;
    margin-bottom: 0;
}

.copyright p a {
    color: #f53626;
}

.copyright {
    text-align: center;
    padding: 25px 0;
    border-top: 1px solid rgba(103, 99, 99, 0.14);
}

.footer__item .social ul li a i {
    font-size: 16px;
    line-height: 28px;
}


.footer__item ul li {
    color: #696969;
}

.footer__item ul li a {
    color: #696969;
}

.footer__item ul li a:hover {
    color: #fff;
    text-decoration: underline !important;
}

.footer__item ul {
    list-style: none;
}

.footer__item .social ul li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}

.footer__item h1 {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

footer {
    background: #111;
}

/* footerr : Quang */

/* Theme */

.header__nav #choose__theme i {
    font-size: 20px;
    line-height: 1.5;
    color: #696969;
}

i.far.fa-sun {
    display: none;
}

.header__nav #choose__theme.moon__theme i.far.fa-sun {
    display: block;
}

.header__nav #choose__theme.moon__theme i.far.fa-moon {
    display: none;
}

#choose__theme {
    position: relative;
}

.dark__theme .navbar-nav li.active a {
    color: #189A46 !important;
}

.dark__theme .navbar-nav li a {
    color: #fff !important;
}

.dark__theme {
    background-color: #000 !important;
}


/* Theme */

.header__nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 40px;
    z-index: 9999;
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.header__nav a.navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189A46;
}

.fa-angle-down {
    font-size: 14px;
    padding-left: 2px;
    font-weight: 600;
}

.dropdown-menu {
    position: absolute !important;
}

.header__nav .navbar-nav {
    flex-direction: row;
}

.header__nav .navbar-nav li a {
    text-transform: capitalize;
    transition: all .5s ease;
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    color: #000c04;
}

.header__nav .navbar-nav li a:hover {
    color: #189A46;
}

.header__nav .navbar-nav li a:hover:before {
    width: 100%;
}

.header__nav .navbar-nav li a:before {
    content: "";
    width: 0;
    height: 1px;
    background: #189A46;
    transition: .5s;
    position: absolute;
    bottom: 13px;
    left: 0;
}

.header__nav .navbar-nav li.active a {
    color: #189A46;
}

.header__nav ul li {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}


/* slide : Quang  */
.slide__item .content h1 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.slide__item .content p {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
    opacity: 0.9;
    font-size: 18px;
}
.slide {
    position: relative;
    overflow: hidden;
}

.slide__item {
    min-height: calc(100vh - 40px);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.slide__1 {
    background-image: url(../images/banner3.jpg);
}

.slide__2 {
    background-image: url(../images/banner2.jpg);
}

.slide__3 {
    background-image: url(../images/banner1.jpg);
}

.slide__item .content {
    position: absolute;
    top: 50%;
}

.btn__slide {
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
}

.btn__slide:hover {
    background: #fff;
    color: #189A46;
}

.btn__slide.active {
    background: #fff;
    color: #189A46;
}

.slide__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0c0c0c;
    opacity: .6;
}


/* slide : Quang */


/* about us */

.about__title {
    margin: 80px auto;
    text-align: center;
}

.about__title h2 {
    color: rgb(245, 54, 38);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.about__title h1 {
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: Jost, sans-serif;
}

.about__title p {
    font-weight: 600;
    color: rgb(105, 105, 105);
    font-size: 17px;
    font-weight: 600;
}

.about__title a {
    font-weight: 600;
    color: rgb(0, 12, 4);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s;
    text-decoration: none;
    border-bottom: 3px solid rgb(24, 154, 70);
    text-transform: capitalize;
    font-family: Jost, sans-serif;
}

.about__title a:hover {
    color: rgb(24, 154, 70);
}


/* about us */


/* services */


/* rgba(147, 107, 232, 0.1)*/

.services {
    width: 100%;
    background-color: rgba(147, 107, 232, 0.1);
}

.services .services__slider {
    padding: 80px 0;
}

.services .services__slider .services__list {
    background-color: white;
    margin: 10px;
    transition: all 0.4s;
}

.services .services__slider .services__list:hover {
    background-color: rgba(147, 107, 232, 0.1);
}

.services .services__slider .services__list .services__font {
    padding: 30px 10px
}

.services .services__slider .services__list .services__icon i {
    font-size: 30px;
    color: rgb(24, 154, 70);
}

.services .services__slider .services__list h1 {
    font-size: 22.77px;
    color: rgb(0, 12, 4);
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.4s;
    cursor: pointer;
}

.services .services__slider .services__list h1:hover {
    color: rgb(24, 154, 70);
}

.services .services__slider .services__list p {
    color: rgb(105, 105, 105);
    font-weight: 400;
    font-size: 19.2px;
    line-height: 28px;
    font-family: 'Jost', sans-serif;
}

.services .services__slider .services__list a {
    font-weight: 600;
    color: rgb(0, 12, 4);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s;
    text-decoration: none;
    border-bottom: 3px solid rgb(24, 154, 70);
    text-transform: capitalize;
    font-family: Jost, sans-serif;
}

.services .services__slider .services__list a:hover {
    color: rgb(24, 154, 70);
}


/* services */


/* MY CHOOSE US */

.choose__header {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.choose__header img {
    width: 100%;
    border-radius: 10px;
    vertical-align: middle;
    border-style: none;
}

.choose__header .choose__title {
    margin-left: 20px;
    align-self: center;
}

.choose__header .choose__title h2 {
    color: rgb(245, 54, 38);
    font-size: 18px;
    font-weight: 400;
}

.choose__header .choose__title h1 {
    color: rgb(0, 12, 4);
    font-size: 35px;
    font-weight: 600;
}

.choose__header .choose__title p {
    color: rgb(105, 105, 105);
    font-size: 16px;
    font-weight: 400;
}

.choose__header .choose__title li {
    color: rgb(0, 12, 4);
    font-weight: 600;
    line-height: 26px;
}

.choose__header .choose__title .choose__icon {
    color: rgb(24, 154, 70);
    background-color: rgba(147, 107, 232, 0.05);
    font-size: 10px;
    border-radius: 50%;
    padding: 8px;
    margin: 8px 0;
}


/* MY CHOOSE US */


/* number jump */

.number {
    width: 100%;
    background-color: rgb(24, 154, 70);
    margin: 40px 0;
}

.number .number_content {
    color: white;
    text-align: center;
    padding: 50px;
}

.number .number_content .number__counter {
    font-size: 50px;
    font-family: 600;
    font-weight: 700;
}

.number .number_content h2 {
    font-size: 18px;
    font-family: 400;
    color: rgb(255, 255, 255);
    font-family: jost, sans-serif;
}


/* number jump */


/* Plans */

.plans__font {
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(147, 107, 232, 0.05);
    padding: 30px 0;
    margin-bottom: 20px;
}

.plans__font .plans__slider .plan__lu {
    background-color: white;
    margin: 0 5px;
}

.plans__header .plans__font h1 {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: rgb(245, 54, 38);
    font-family: Jost, sans-serif;
}

.plans__header .plans__font h2 {
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 30px;
    font-weight: 600;
    color: rgb(0, 12, 4);
    font-family: Jost, sans-serif;
}

.plans__header .plans__font .plans_list {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.plans__header .plans__font p {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    align-self: center;
    padding-top: 6px;
    color: rgb(105, 105, 105);
}

.plans__header .plans__font h3 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.plans__header .plans__font .plans__span1 {
    font-size: 25px;
    vertical-align: text-top;
    color: rgb(24, 154, 70);
}

.plans__header .plans__font .plans__span2 {
    font-size: 40px;
    color: rgb(24, 154, 70);
}

.plans__header .plans__font .plans__span3 {
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}

.plans__header .plans__font .plans__title {
    color: white;
    background-color: rgb(24, 154, 70);
    padding: 10px;
}

.plans__header .plans__font .plans__title h2 {
    color: rgb(24, 154, 70);
    background-color: white;
    padding: 8px 20px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
}

.plans_listcenter h4 {
    color: white;
    background-color: rgb(24, 154, 70);
}

.plan .plans__slider button {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
    background-color: rgb(24, 154, 70);
}

.plan .plans__slider button:hover {
    background-color: rgb(5, 71, 28);
}


/* Plans */


/* video */

.videopet__header {
    width: 80%;
    margin: 0 auto;
}

.videopet .videopet__content {
    text-align: center;
}

.videopet .videopet__content h2 {
    color: rgb(245, 54, 38);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
}

.videopet .videopet__content h3 {
    color: rgb(0, 12, 4);
    font-size: 35px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
}

.videopet .videopet__content p {
    color: rgb(105, 105, 105);
    font-size: 16px;
    font-weight: 400;
}

.videopet__video {
    width: 90%;
    margin: 30px auto;
    height: 100%;
}

.videopet__video img {
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.videopet__video .videopet__over {
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/02-07-2020/pooch-care-liberty-demo_Free/1396504601/web/assets/images/banner2.jpg");
    background-size: cover;
    height: 520px;
}

.videopet__video .videopet__nut {
    position: relative;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: blanchedalmond;
    color: rgb(24, 154, 70);
    /* justify-content: center; */
    /* align-self: center; */
    /* text-align: center; */
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 5;
    border-radius: 50%;
    transform: translate(-50% -50%);
}

.videopet__video .videopet__dautron1 {
    position: absolute;
    margin-left: 490px;
    margin-top: 250px;
    background-color: rgb(24, 154, 70);
    width: 60px;
    height: 60px;
    z-index: 5;
    border-radius: 50%;
    animation: lantoa1 1s ease-out;
    animation-iteration-count: infinite;
}

.videopet__video .videopet__dautron2 {
    padding: 10px;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    width: 80px;
    height: 80px;
    border: solid 10px rgb(24, 154, 70);
    display: block;
    animation: lantoa2 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes lantoa1 {
    0% {
        -webkit-transform: scale(1, 1);
        opacity: 0.2;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@keyframes lantoa2 {
    from {
        opacity: 0.8;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.1);
    }
}

.videopet__video .videopet__icon2:hover {
    font-size: 20px;
    background-color: white;
    padding: 25px;
    position: relative;
    /* justify-content: center; */
    /* align-self: center; */
    /* text-align: center; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videopet__over {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
}


/* video */


/* subscribe */

.subscribe .subscribe__header {
    text-align: center;
    width: 50%;
    margin: 20px auto;
}

.subscribe .subscribe__header h1 {
    font-size: 35px;
    color: rgb(0, 12, 4);
    font-weight: 600;
    font-family: Jost, sans-serif;
}

.subscribe .subscribe__header p {
    font-size: 19px;
    color: rgb(105, 105, 105);
    font-weight: 400;
    font-family: Jost, sans-serif;
}

.subscribe .subscribe__header .subcribe__infor {
    display: flex;
    gap: 10px;
}

.subscribe .subscribe__header .subscribe__input {
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    padding: 0 12px;
    border: solid 1px rgb(206, 212, 218);
    cursor: pointer;
}

.subscribe .subscribe__header button {
    padding: 12px 50px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    transition: all 0.4s;
    border-radius: 10px;
}


/* subscribe */


/* backtotop */

.muiten {
    font-size: 15px;
    color: white;
    background-color: rgb(24, 154, 70);
    border-radius: 50%;
    padding: 20px;
    bottom: 100px;
    right: 10px;
    position: fixed;
    display: block;
    text-align: center;
}


/* backtotop */

/* testimonial : Quang*/
.testimonials__dots li button{
    width: 14px;
    height: 14px;
    background: #d8d8d8;
    border-radius: 25px;
}
.testimonials__dots li button:before{
    content: "";
}
.testimonials__dots li.slick-active button:before{
    background: #189A46;
    border-radius: 25px;
    width: 30px;
    height: 14px;
    opacity: 1;
}
.testimonials__dots li button:hover{
    background: #189A46;
    border-radius: 25px;
    width: 30px;
    height: 14px;
    opacity: 1;
}
.testimonials__dots li{
    margin: 0 10px;
}
.testimonials__dots{
    margin-top: 20px;
    position: inherit;
}


.testimonial__content {
    padding: 10px;
}

.testimonil__info p {
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
}

.testimonil__info h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.testimonil__info {
    margin: 0;
    margin-left: 20px;
    text-align: left;
}


.testimonil__img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
}

.testimonil__desc {
    display: flex;
    align-items: center;
}

blockquote q {
    font-size: 20px;
    line-height: 28px;
}

blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 15px;
    color: #696969;
}

section.TESTIMONIALS {
    background: rgba(147, 107, 232, 0.05);
    padding: 50px 0;
}

.testimonil {
    display: block;
    margin: 0;
    padding: 40px 30px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.testimonials__title h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    color: #000c04;
}

.testimonials__title h3 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.testimonials__title {
    text-align: center;
}
/* testimonial : Quang*/